<template>
    <v-container v-if="formatedOrderItem" class="order-item-container">
      <v-row>
        <v-col class="d-flex align-center" cols="12">
          <h1 class="account-title mr-4">
            {{
              $t('customer.account.order.number', formatedOrderItem.orderNumber, {
                orderNumber: formatedOrderItem.orderNumber,
              })
            }}
          </h1>
          <span class="order-status">{{ formatedOrderItem.status }}</span>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="d-flex align-center" cols="12">
          <span v-if="isCanCancel" class="action cancel mr-4 text-decoration-underline" @click="cancelOrder">{{
            $t('customer.account.order.cancel_order')}}
            </span>
          <div class="red--text text--lighten-1" v-if="responseArray && responseArray[0] === false && responseArray[1] === true">
            {{ $t('customer.account.order.cannot_cancel') }}
            </div>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
  import { cancelOrder } from '~/const/order.js';
  
  export default {
    name: 'OrderDetails',
    async asyncData({ store, route}) {
      let item = await store.dispatch('orders/getOrderDetail', { filter: { number: { eq: route.params.orderNumber } } })
      if (item) {
        item = Object.assign({}, item, {
          orderNumber: item.number,
          status: item.status.charAt(0).toUpperCase() + item.status.slice(1),
          statusCode: item.status.replace(/ /g, '_')
        })
      }
  
      return {
        formatedOrderItem: item || {},
      }
    },
    data() {
      return {
        identity: 1,
        responseArray: null,
      }
    },
    computed: {
      isCanCancel(){
        const status = this.formatedOrderItem.status;
        if(status === 'Pending' || status === 'Pending_Payment'){
          return true;
        } else {
          return false;
        }
      },
    },
    methods: {
      async cancelOrder() {
        const orderId = this.formatedOrderItem.orderNumber - this.identity;
        try{
          const response = await cancelOrder(orderId);
          this.responseArray = response;
          if (this.responseArray && this.responseArray.length >= 2 && this.responseArray[0] === true) {
            window.location.reload(); 
          }
        } catch (error){
          console.error('Ошибка со стороны сервера', error);
        }
      },
    },
  }
  </script>