<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @Author: TORTIK
 */

$products = $this->getProducts(); 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); 
foreach ($products as $product){
  $_imagehelper = $objectManager->get('Magento\Catalog\Helper\Image');
  $image_url = $_imagehelper->init($product, 'cart_page_product_thumbnail')->getUrl();
  ?>
	<div class="order-item" style="margin-bottom:10px;">
	  <div class="item-img" style="display: inline-block; margin-right:10px;">
	  	<a href="<?= $product->getProductUrl(); ?>" title="<?= $product->getName() ?>" style="text-decoration: none;"><img src="<?= $image_url ?>" alt="<?= $product->getName() ?>"></a>
	  </div>
	  <div class="item-detail" style="display:inline-block;">
	    <div class="product-name">
	    	<a href="<?= $product->getProductUrl(); ?>" title="<?= $product->getName() ?>" style="text-decoration: none;"><?= $product->getName() ?></a>
	    </div>
	    <div class="item-price">
	    	<span class="price"><?= $priceHelper->currency($product->getFinalPrice(), true, false); ?></span>
	    </div>
	  </div>
	</div>
<?php } ?>
