<!--
    
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 /**
 * @Author: TORTIK
 */

-->
<!--@subject {{trans "Заказ был отменен"}} @-->
<div class="header" style="margin-top:50px;">
    <div class="email-header-links" style="width: -moz-calc(100% - 200px - 10px); width: -webkit-calc(100% - 100px - 10px); width:calc(100% - 100px - 10px); display:inline-block; text-align: right;padding-bottom: 10px;border-bottom: 1px solid #dfdfdf;">
        <ul style="list-style-type: none;margin:0;">
            <li style="display: inline-block;"><a href="{{store url='customer/account/orders/'}}">Ваши заказы</a></li>
            <li style="display: inline-block;margin: 0 5px; padding: 0 5px; border-width: 0 1px;border-style: solid;border-color: #dfdfdf;"><a href="{{store url='customer/account'}}">Ваш аккаунт</a></li>
        </ul>
    </div>
</div>
<div class="cancel-order-title" style="text-align:left;">
    <h2 class="title" style="font-weight: 600; margin-bottom: 0">Ваш заказ #{{var orderid}} был успешно отменен</h2>
</div>
<div class="cancel-order-content">
    <div class="content-item" style="padding-bottom: 20px;">
        <h2 class="title" style="font-weight: 600; margin-bottom: 0;">Доброго времени суток {{var customer_name}}</h2>
        <p class="text" style="margin-bottom:0;">Мы пишем вам, чтобы сообщить, что ваш заказ был успешно отменен, также с вас не будет взиматься плата за отмененные товары.*</p>
    </div>
    <div class="content-item" style="padding-bottom: 20px;margin-bottom:20px;border-bottom:1px solid #dfdfdf">
        <h2 class="title" style="font-weight: 600; margin-bottom: 0; border-bottom:1px solid #dfdfdf;padding-bottom:5px;">Детали заказа</h2>
        <p class="order-id" style="margin-bottom: 0">
            <label class="label" style="font-weight: 600; margin-bottom:0">Заказ: </label>
            <span>#</span> 
            <a href="{{store url='customer/account/orders/'}}order_id/{{var entity_id }}" title="" style="text-decoration: none;">{{var orderid}}</a>
    </p>
        <p class="text" style="margin-bottom: 0">
            <label class="label" style="font-weight: 600; margin-bottom:0">Размещен:</label> 
            {{var created_at}}
        </p>
        <div class="order-items" style="margin-top:20px;">

            {{layout handle="email_product_list" products=$collectionProduct area="frontend"}}

            <div class="total" style="margin-top:20px;margin-bottom:10px;">
                <label class="label" style="font-weight: 600; margin-bottom:0">Сумма:</label>
                <span class="text">{{var base_grand_total}}</span>
            </div>
            <div class="sold-by" style="margin-bottom:10px;">
                <label class="label" style="font-weight: 600; margin-bottom:0;">Продано с :</label>
                <a href="{{store url=''}}" class="text" style="text-decoration: none;">{{var site_name}}</a>
            </div>
            <div class="reason">
                <label class="label" style="font-weight: 600; margin-bottom:0">Причина отмены:</label>
                <span class="text">Клиент отменил заказ</span>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="note">Если вам нужна дополнительная помощь, пожалуйста, посетите <a href="{{store url='contact'}}" style="text-decoration: none;"> чтобы связаться с нами</a></div>
    <div class="text" style="margin-top:20px;">Мы надеемся увидеть вас снова</div>
    <div class="name-site" style="font-weight:600;">{{var store_name}}</div>
    <div class="texttip" style="margin-top:20px;padding-top:5px; border-top:1px solid #dfdfdf;">*в случае отмены заказа при оплате картой, возврат средств с момента получения товара производится в течении 7-10 рабочих дней</div>
</div>